
{% extends "index.html" %}


{% block imageContainer %}
  <div id="fixed-rectangle">
    <div id="imageContent">
      <img src="static/sprites/{{ image_number }}" id="pokemonImage" alt="">
    </div>

    <div id="game-submit-div">
      <form method="POST" class="game-submit-form" autocomplete="off">
        <input type="text" id="game-submit-input" name="pokemon_name" placeholder="Enter Pokemon Name" />
      </form>
    </div>

    <form method="POST">
      <button type="submit" class="btn btn-primary" value="skip_button" id="skip_pokemon">I Have No Clue</button>
    </form>

  </div>
{% endblock imageContainer %}

