<!--
  Author: Kevin Lu
  Date: September 27th, 2019
  File: pokemon.html
  Purpose: Main Html file for handling pokemon Game
  Modification: N/A
-->

{% extends "index.html" %}

{% block h1Text %}
    Pokemon Game
{% endblock h1Text %}

{% block imageContainer %}
  <div class="fixed-rectangle">
    <div class="imageContent">
      <img src="static/sprites/{{ imageNumber }}" class="pokemonImage" alt="">
    </div>
  </div>
{% endblock imageContainer %}


{% block skipMe %}
    <div class="nextPokemon">
        <button type="button" class="btn btn-primary">Skip Pokemon</button>
    </div>
{% endblock skipMe%}

{% block submitAnswer %}
    <div class="form-group">
      <label for="pokemonName">Enter Pokemon Name</label>
      <input type="text" class="form-control" id="pokemonName">
    </div>
{% endblock submitAnswer%}