
{% extends "index.html" %}

{% block h1Text %}
    Pokemon Game
{% endblock h1Text %}

{% block imageContainer %}
  <div class="fixed-rectangle">
    <div class="imageContent">
      <img src="static/sprites/{{ imageNumber }}" class="pokemonImage" alt="">
    </div>
  </div>
{% endblock imageContainer %}

{% block skipMe %}
  <div class="nextPokemon">
    <button onClick="{{ skip }}" type="button" class="btn btn-primary">Skip</button>
  </div>
{% endblock skipMe%}

{% block submitAnswer %}
    <div class="form-group">
      <form class="form" method="POST">
        <input type="text" class="form-control" id="pokemonName" name="pokeName" placeholder="Enter Pokemon Name">
      </form>
    </div>
{% endblock submitAnswer%}